@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
    --outfit-font: 'Outfit', sans-serif;
    --weight-medium: 400;
    --weight-bold: 700;
}
* , *::before, *::after { box-sizing: border-box; }
*{
    margin: 0;
    font-family: var(--outfit-font);
}
body{
    background-color: var(--slate300);
}
.container{
    display: grid;
    gap: 24px;
    min-height: 100svh;
    place-items: center;
    padding: 24px 24px 0;
    grid-template-rows: 1fr auto;
    justify-content: center;
}
.card{
    background-color: var(--white);
    width: min(100%, 320px);
    height: fit-content;
    padding: 16px 16px 40px;
    border-radius: 20px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
    align-items: center;
}
.card img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.text-under-qr{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text-under-qr h1{
    color: var(--slate900);
    font-weight: var(--weight-bold);
}
.text-under-qr p{
    font-size: 15px;
    margin-top: 16px;
    color: var(--slate500);
    font-weight: var(--weight-medium);
}
/* ป้ายกำกับ */
.attribution{
    font-size: 0.6875rem;
    text-align: center;
    max-width: 320px;
    align-self: end;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}